<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="container">
    <mat-card-header class="form__title_container" [style.display]="'block'">
      <mat-card-title>
        <h1 class="form__title">Add new article</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="form__inputs_container">
      <mat-form-field class="form__input">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput />
        <mat-error
          *ngIf="form.get('title')!.hasError('required')"
          class="form__input_error"
          ><span>Title is required</span></mat-error
        >
        <mat-error
          *ngIf="form.get('title')!.hasError('minlength')"
          class="form__input_error"
          ><span>Title is too short</span></mat-error
        >
        <mat-error
          *ngIf="form.get('title')!.hasError('maxlength')"
          class="form__input_error"
          ><span>Title is too long</span></mat-error
        >
      </mat-form-field>

      <mat-form-field class="form__input">
        <mat-label>Text</mat-label>
        <textarea formControlName="content" matInput> </textarea>

        <mat-error
          *ngIf="form.get('content')!.hasError('required')"
          class="form__input_error"
          ><span>Text is required</span></mat-error
        >
        <mat-error
          *ngIf="form.get('content')!.hasError('minlength')"
          class="form__input_error"
          ><span>Text is too short</span></mat-error
        >
        <mat-error
          *ngIf="form.get('content')!.hasError('maxlength')"
          class="form__input_error"
          ><span>Text is too long</span></mat-error
        >
      </mat-form-field>
    </mat-card-content>

    <mat-card-footer>
      <div class="form__button_container">
        <button
          class="form__button_submit"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Create
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</form>
